body{
  background-color: #f5f7fa;
  color: #333;
  padding: 20px;
}
header{
  text-align: center;
  padding: 20px;
  color: aqua;
  border-radius: 10px;
}
h1{
  
  margin-bottom: 10px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th{
  padding: 18px;
  text-align: center;
  background-color: #2a3c8c;
}
td{
  padding: 15px;
  text-align: center;
}